---

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';
import type { Frontmatter } from '@typeDefinitions/posts'

const allPosts = await Astro.glob<Frontmatter>('./posts/*.md')
---

<BaseLayout pageTitle="blog">

	<p>ぶろぐだよ</p>

	<ul>
		{allPosts.map((post) =>
			<BlogPost title={post.frontmatter.title} url={post.url} />
		)}
	</ul>

</BaseLayout>
